/* ... (previous styles) ... */

body {
    background-color: #1f1f1f; /* Dark background */
    color: #fff; /* White text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; /* Required for pseudo-elements */
    overflow: hidden; /* Hide overflow of pseudo-elements */
}

.header-container {
    margin: 10px 540px; /* Add margin on the left and right */
    text-align: center;
    height: 100px;
}

header {
    background-color: #000; /* Black header background */
    border: 3px solid #fff;
    padding: 10px; /* Reduce the padding to make it smaller */
    text-align: center;
    border-radius: 6px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #ffcc00; /* Yellow text color */
    position: relative;
    font-size: 18px;
    transition: all 0.3s;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffcc00; /* Yellow underline color */
    border-radius: 4px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* ... (previous styles) ... */

/* Style for the iframe */
iframe {
    border: 3px solid #ffcc00; /* Add a yellow border */
    display: block; /* Center the iframe horizontally */
    margin: 0; /* Remove horizontal margin */
    margin-top: 20px; /* Add spacing on top */
    margin-left: 560px; /* Increase the right margin */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 6px; /* Rounded corners with a radius of 6px */
}

/* Style for the latest highlight section */
main h2 {
    position: relative;
    margin-left: 560px;
    font-size: 24px; /* Larger font size for the title */
    margin-bottom: 20px; /* Add spacing below the title */
}
